PORT=3002
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=product_service
INTERNAL_JWT_SECRET=HYUIhU6iufn6o4dSZx0YOyJLWjV9QUnPQfacfnp4K5Y
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=300
LOG_LEVEL=info
