PORT=3001
NODE_ENV=development


DB_HOST=localhost
DB_PORT=5432
DB_USER=order-platform-local
DB_PASSWORD=postgres
DB_NAME=user_service

INTERNAL_JWT_SECRET=change_ne


JWT_SECRET=change_ne

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

LOG_LEVEL=info